@import  "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|DM+Serif+Display&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 }
body{
  /* font-family: "DM Sans", sans-serif !important; */
  font-family: "Space Grotesk", sans-serif !important;
}

.heading-4{
  font-size: 3rem;
  font-weight: bold;
}

.bg-cover {
  background-repeat: no-repeat;
  /* background-image: url(/assets/img/authentication/cover-1.png); */
  background-clip: border-box;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.login-img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-clip: border-box;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6658ea !important;
  --bs-btn-border-color: #6658ea !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #574bc7 !important;
  --bs-btn-hover-border-color: #5246bb !important;
  --bs-btn-focus-shadow-rgb: 125, 113, 237 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #5246bb !important;
  --bs-btn-active-border-color: #4d42b0 !important;
  --bs-btn-active-shadow: 0 0 6px rgba(27, 22, 66, .03), 0 14px 24px rgba(27, 22, 66, .06) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #6658ea !important;
  --bs-btn-disabled-border-color: #6658ea;
  /* border-radius: 0 0.5rem 0 0.5rem !important; */
   height: 60px;
   font-size: 1.125rem !important;
}
.btn-danger{
 background-color: #bb2d3b57 !important;
 border-color: #bb2d3b57 !important;
}
.btn-success{
 background-color: #19875487 !important;
 border-color: #19875487 !important;
}
.w-100 {
  width: 100% !important;
}
.form-control{
  background-color: #f3f8ff !important;
  background-clip: border-box;


    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-clip: padding-box !important;
    background-color: #f3f8ff !important;
    border: 1px solid transparent !important;
    box-shadow: 0 0 !important;
    display: block !important;
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    padding: .75rem 1.25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    width: 100% !important;

}

.list-card{
  background-color: #f3f8ff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 15px;
}
.list-card:hover {
  border: 2px solid #6658ea;
  transition: all .2s;
}
.list-card:hover .list-icons{
  visibility: visible;
  transition: all .2s;
}
.list-icons{
  visibility: hidden;
  position: absolute;
  top: 4px;
  right:5px;
}
/* checkbox */
.checkbox-wrap {
  border-radius: 3px;
  /* border: 1px solid #ddd; */
  margin-bottom: 10px;
  vertical-align: middle;
  list-style: none;
}

input[type=checkbox],
input[type=checkbox] + label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 30px;
  margin: 5px;
  width: 30px;
}

input[type=checkbox]:checked {
    background-color: #6658ea;
    border-color: #6658ea;
    outline: 0;
  }  

.checkbox-wrap:hover {
  border: 1px solid #6658ea;
  box-shadow: 0 0 0 1px #6658ea;
  outline-offset: 0;
}

.btn .btn-primary{
  border-radius: none !important;
}